<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <div class="jumbotron shadow rounded">
            <h1 class="display-5">My Website <span class="badge badge-secondary">1.6.2v</span></h1>
            <P>게시판 사이드 프로젝트 입니다! 맘껏 이용해주세요! 💻</p>
        </div>
    </div>
</body>

</html>