<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/calendar.css">
</head>

<body>
  <div id="data-container"
     first_day="<%= first_day %>"
     end_date="<%= end_date %>">
  </div>

  <%- include('../partials/nav') %>

  <div class="container mb-3">

      <h3 class="contentBoxTop"><b>Attendance</b></h3>

  </div>
  <script src="/js/user/attendance.js" defer></script>

  <div class="calendar-container">
    <div class="month"></div>
    <table id="calendar">
      <thead>
        <tr>
          <th>일</th>
          <th>월</th>
          <th>화</th>
          <th>수</th>
          <th>목</th>
          <th>금</th>
          <th>토</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  
    <script>
      const container = document.getElementById('data-container');
      const first_day = container.getAttribute('first_day');
      const end_date = container.getAttribute('end_date');

      const data = JSON.parse(localStorage.getItem('attendanceDays'));
      function generateCalendar(data) {
        const calendar_body = document.querySelector("#calendar tbody");
        calendar_body.innerHTML = "";
  
        const month = parseInt(end_date.split('-')[1]);
        const last_day = parseInt(end_date.split('-')[2]);
  
        let date_count = 1;
  
        for (let i = 0; i < 6; i++) {
          const row = document.createElement("tr");
          
          for (let j = 0; j < 7; j++) {
            if (i === 0 && j < first_day) {
              const cell = document.createElement("td");
              row.appendChild(cell);
            } else if (date_count > last_day) {
              const cell = document.createElement("td");
              row.appendChild(cell);
            } else {
              const cell = document.createElement("td");
              cell.textContent = date_count;

              for (let k=0; k<data.length; k++){
                if (date_count == data[k]) {
                cell.classList.add("checked");
                break;
                }
              }
              
  
              row.appendChild(cell);
              date_count++;
            }
          }
          calendar_body.appendChild(row);
        }
  
        const month_text = document.querySelector(".month");
        const month_names = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        month_text.textContent = month_names[month - 1];
      }
  
      generateCalendar(data);
    </script>

    <div class="form-row">
        <div class="form-group col-9">
            <form>
                <button style="margin: 30px 5px; float: right;" class="btn btn-secondary" id="attend_btn" type="button">출석체크</button>
            </form>
        </div>
    </div>
  </body>

</html>