<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
        <h3 class="contentBoxTop"><b>Password Change</b></h3>

        <div class="form-group col-9">
            <fieldset>
                <div class="form-group row">
                    <label for="old_password" class="col-sm-3 col-form-label">Old Password</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="old_password" type="password" value="">
                    </div>
                </div>
            </fieldset>
            <form>
                <button style="margin: 5px 5px; float: right;" class="btn btn-secondary"  id="pw_btn" type="button">제출</button>
            </form>
        </div>
    </div>
    <script src="/js/user/verifyPassword.js" defer></script>
</body>

</html>